


    <div class="channle-one-cure">
        <h1><a id="link_sys1"><span class="glyphicon glyphicon-record"></span> &nbsp; 治疗系统一</a></h1>

    </div>

    <div class="channle-one-cure">
        <h1><a id="link_sys2"><span class="glyphicon glyphicon-record"></span> &nbsp; 治疗系统二</a></h1>

    </div>

    <div class="channle-one-cure">
        <h1><a id="link_sys3"><span class="glyphicon glyphicon-record"></span> &nbsp; 治疗系统三</a></h1>

    </div>

    <div class="channle-one-cure">
        <h1><a id="link_sys4"><span class="glyphicon glyphicon-record"></span> &nbsp; 治疗系统四</a></h1>

    </div>





